<!DOCTYPE html>
<html>
    <head>
        <title>Example App</title>
        {{!-- <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{!-- BOOTSTRAP AND FONT-AWESOME LINKS --}}
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />

        {{!-- GOOGLE FONT --}}
        {{!-- <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet"> --}}
        <link href="https://fonts.googleapis.com/css?family=Baloo|Crete+Round|Kanit|Mitr|Orbitron&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        {{!-- FONT AWESOME KIT --}}
        <script src="https://kit.fontawesome.com/768efcae0e.js"></script>

        {{!-- CSS STYLE LINK --}}
        <link rel="stylesheet" href="../../assets/css/style.css" />

        {{!-- HANDLEBARS --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

        {{!-- loading jquery in the header --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> --}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>